@import '../styles/styles.css';

.button-container{
    display: inline-block;
    box-shadow: 0 2px var(--accent-color-secondary-dark);
}

.button-container:not(:last-child){
    margin-right: 10px;
}

.button-container:has(.accent-bg-main){
    box-shadow: 0 2px var(--accent-color-main-dark);
}

button {
    padding: 5px 10px;
    transition: all 0.1s;
    min-width: 83px;
}

button:hover(:not(:disabled)){
    cursor: pointer;
}

button:active:not(:disabled){
    transform: translateY(3px);
    box-shadow: none;
}

.accent-bg-main {
    background-color: var(--accent-color-main);
}

.accent-bg-secondary {
    background-color: var(--accent-color-secondary);
}