@import '../styles/styles.css';

.button-container{
    display: inline-block;
    box-shadow: 0 2px var(--accent-color-secondary-dark);
}

.button-container:not(:last-child){
    margin-right: 10px;
}

.button-container:has(.accent-bg-main){
    box-shadow: 0 2px var(--accent-color-main-dark);
}

button {
    padding: 5px 10px;
    transition: all 0.1s;
    min-width: 83px;
}

button:hover(:not(:disabled)){
    cursor: pointer;
}

button:active:not(:disabled){
    transform: translateY(3px);
    box-shadow: none;
}

.accent-bg-main {
    background-color: var(--accent-color-main);
}

.accent-bg-secondary {
    background-color: var(--accent-color-secondary);
}

/* outlined button style */

.outlined-button{
    padding: 5px;
    min-width: auto;
    background-color: transparent;
    color: #9aed76;
    border: 1px solid #9aed76;
    border-radius: 5px;
    float: inline-start;
    margin-right: 8px;
    cursor: pointer;
}

.outlined-button.red{
    color: #e01f11;
    border: 1px solid #e01f11;
}

.outlined-button:disabled{
    color: grey;
    border-color: grey;
    cursor: auto;
}
