:root {
    --font-color: #f3f3f3;
    --body-bg-color: #1b1b1b;
}

body {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: var(--font-color);
    background-color: var(--body-bg-color);
}

.hidden{
    display: none;
}